# Python virtual environment
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
*.env

# Database files
*.db
*.sqlite3

# Log files
*.log

# Model files
*.h5

# IDE / OS files
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db